

.container {
  // background-color: $base;
  background: 'tileable_wood_texture.png';

}

table {
  background-color: $grey;

  td {
    border: 2px solid $blue;
    height: 50px;
    width: 50px;
  }
}

.nav{
  border: 1px solid $blue;
  padding: 2em;
  background-color: $grey;
  background-repeat: no-repeat;
  width: 100%;
}
