
.container {
  // background-color: $base;
  z-index: 1;

}

table {
  background-color: $grey;

  td {
    border: 2px solid $blue;
    height: 50px;
    width: 50px;
  }
}

.nav {
  background-color: $grey;
  // background-image: url('../styles/img/trippy.jpg');
  background-repeat: no-repeat;
  border: 1px solid $blue;
  padding: 2em;
  width: 100%;
}
