.playerone {
  background-color: $green;
  color: $green;

  &:hover {
    color: $blue;
  }
}

.playertwo {
  background-color: $red;
  color: $red;

  &:hover {
    color: $blue;
  }
}

.hidden {
  opacity: 0;
  visibility: none;
}

.show {
  opacity: 1;
  visibility: visible;
}

.sign-form {
  height: 75%;
  overflow: scroll;
  width: 200px;
}

.register {
  display: inline;
  z-index: -1;
  background-color: $grey;
  form {
    background-color: $red;
    display: inline;

    input {
      color: $blue;
      display: inline;
    }
  }
}

#new-game {
  height: 200px;
  width: 200px;
  position: absolute;
  display: block;
  margin: 100px auto;
}
